body {
    background-color: #D4A76A ;
}

.header {
    background-color: #FFDBAA;
    color: #553100;
    padding: 20px;
    text-align: left;
}

.navbutton {
    background-color:#805215;
    display: inline-block;
    padding: 10px 30px;
    color: white;
    text-align: center;
    margin: 10px;
    float: right;
    vertical-align: middle;
    
}

.optionbutton {
    background-color:#805215;
    display: inline-block;
    height: 30px;
    width: 250px;
    color: white;
    text-align: center;
    margin: auto;
    float: center;
}


.aboutbutton {
    background-color:#805215;
    height: 30px;
    width: 1500px;
    color: white;
    text-align: center;
}


.table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 100px 0;
}

.fieldset {
    background-color: white;
    height: auto;
    width: auto;
}

.fieldsetabout {
    background-color: white;
    height: auto;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.header2{
    text-align: center;
}

/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

